main {
  padding: 0 1rem;
  margin: 0 auto;
  max-width: 900px;
}

main h1 {
  margin: 1.8rem 0 0.8rem 0;
}

main h2 {
  margin-top: 0.8rem;
  margin-bottom: 0.4rem;
}

.page-links-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin: 1rem 0;
}

a {
  color: lightblue;
  text-decoration: underline;
}
a:hover {
  color: rgb(0, 251, 255);
}

.page-links-wrapper a {
  text-decoration: none;
  background-color: #222;
  color: #f2f2f2;
  padding: 0.5rem 0.8rem;
  border-radius: 0.4rem;
}
